**/.git
**/.gitignore
**/.vscode
**/coverage
**/.aws
**/.ssh
**/.DS_Store
**/venv
**/.env
**/__pycache__
**/.pytest_cache
**.pyc
**.cache/
**.log
**.tmp
tests
Dockerfile
README.md
LICENSE.md
.env.sample
.env